Thumbs.db
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.sln.docstates
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
*.vssscc
$tf*/
/WebSites/WorkflowManagment/SVUploads/Purchase request issues.docx
/WebSites/WorkflowManagment/SVUploads/Purchase request issues (2).docx
/WebSites/WorkflowManagment/SVUploads/Journal Entry - 'TR-247'.xlsx
/WebSites/WorkflowManagment/SVUploads/Hi Ana (1) (1).docx
/WebSites/WorkflowManagment/SVUploads/ExpenseType.txt
/WebSites/WorkflowManagment/SVUploads/DHIS2.docx
/WebSites/WorkflowManagment/SVUploads/Copy of ADA Import Template.xlsx
/WebSites/WorkflowManagment/SVUploads/ADA Plan Import Template (1).xlsx
/WebSites/WorkflowManagment/SVUploads/ADA Import Template.xlsx
/WebSites/WorkflowManagment/SVUploads/ADA Import Template (12).xlsx
/WebSites/WorkflowManagment/SVUploads/ADA Import Template (1).xlsx
/WebSites/WorkflowManagment/SVUploads/ADA Financial Estimate.docx
/WebSites/WorkflowManagment/SVUploads/ADA Application User Manual.htm
/WebSites/WorkflowManagment/SVUploads
/WebSites/WorkflowManagment/CSUploads/Introduction.docx
/WebSites/WorkflowManagment/CSUploads
/WebSites/WorkflowManagment/BAUploads/Purchase request issues.docx
/WebSites/WorkflowManagment/BAUploads/Purchase request issues (2).docx
/WebSites/WorkflowManagment/BAUploads/newsletter.txt
/WebSites/WorkflowManagment/BAUploads/Copy of ADA Import Template.xlsx
/WebSites/WorkflowManagment/BAUploads/ADA Import Template (12).xlsx
/WebSites/WorkflowManagment/BAUploads/ADA Import Template (1).xlsx
/WebSites/WorkflowManagment/BAUploads/ADA Application User Manual.htm
/WebSites/WorkflowManagment/BAUploads
/WebSites/WorkflowManagment/Approval/frmPurchaseApproval.aspx.exclude
/WebSites/WorkflowManagment/Approval/frmPurchaseApproval.aspx.cs.exclude
/packages/Microsoft.Report.Viewer.11.0.0.0/Microsoft.Report.Viewer.11.0.0.0.nuspec
/packages/Microsoft.Report.Viewer.11.0.0.0/Microsoft.Report.Viewer.11.0.0.0.nupkg
/packages/Microsoft.Report.Viewer.11.0.0.0
/.vs/config/applicationhost.config
/WebSites/WorkflowManagment/Fuel.xlsx
/Library/Newtonsoft.Json.dll
/Library/Microsoft.Practices.Unity.Interception.dll
/Library/Microsoft.Practices.Unity.dll
/Library/Microsoft.Practices.ServiceLocation.dll
/Library/Microsoft.Practices.ObjectBuilder.dll
/Library/Microsoft.Practices.EnterpriseLibrary.Security.dll
/Library/Microsoft.Practices.EnterpriseLibrary.Logging.dll
/Library/Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Logging.dll
/Library/Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.dll
/Library/Microsoft.Practices.EnterpriseLibrary.Common.dll
/Library/Microsoft.Practices.CompositeWeb.EnterpriseLibrary.dll
/Library/Microsoft.Practices.CompositeWeb.dll
/Library/log4net.dll
/Library/EPPlus.dll
/Library/EntityFramework.dll
/Library/BarcodeLib.dll
/Library/AjaxControlToolkit.DLL
/packages/ClosedXML.0.95.2/lib/net40/ClosedXML.dll
/packages/ClosedXML.0.95.2/lib/net40/ClosedXML.xml
/packages/ClosedXML.0.95.2/lib/netstandard2.0/ClosedXML.xml
/packages/ClosedXML.0.95.2/lib/netstandard2.0/ClosedXML.dll
/packages/ClosedXML.0.95.2/lib/net46/ClosedXML.xml
/packages/ClosedXML.0.95.2/lib/net46/ClosedXML.dll
/packages/ClosedXML.0.95.2/ClosedXML.0.95.2.nupkg
/packages/ClosedXML.0.95.2/.signature.p7s
/packages/ExcelNumberFormat.1.0.10/lib/netstandard2.0/ExcelNumberFormat.xml
/packages/ExcelNumberFormat.1.0.10/lib/netstandard2.0/ExcelNumberFormat.dll
/packages/ExcelNumberFormat.1.0.10/lib/netstandard1.0/ExcelNumberFormat.xml
/packages/ExcelNumberFormat.1.0.10/lib/netstandard1.0/ExcelNumberFormat.dll
/packages/ExcelNumberFormat.1.0.10/lib/net20/ExcelNumberFormat.xml
/packages/ExcelNumberFormat.1.0.10/lib/net20/ExcelNumberFormat.dll
/packages/ExcelNumberFormat.1.0.10/.signature.p7s
/packages/ExcelNumberFormat.1.0.10/ExcelNumberFormat.1.0.10.nupkg
/packages/LumenWorks.Framework.IO.3.8.0/LumenWorks.Framework.IO.3.8.0.nupkg
/packages/LumenWorks.Framework.IO.3.8.0/lib/net20/LumenWorks.Framework.IO.xml
/packages/LumenWorks.Framework.IO.3.8.0/lib/net20/LumenWorks.Framework.IO.dll
/packages/LumenWorks.Framework.IO.3.8.0/COPYING.txt
/packages/LumenWorks.Framework.IO.3.8.0/.signature.p7s
/WebSites/WorkflowManagment/SqlServerTypes
/WebSites/WorkflowManagment/App_Code/SqlServerTypes
/WebSites/WorkflowManagment/App_Code/ReportingDataSet.xsd
/Chai.WorkflowManagment.Shared/job_scheduling_data_2_0.xsd
/Chai.WorkflowManagment.Shared/packages.config
/packages/Common.Logging.2.1.2
/packages/Microsoft.ReportViewer.Runtime.Common.12.0.2402.15
/packages/Quartz.2.2.4
/packages/Microsoft.SqlServer.Types.12.0.4100.1
/Modules/Chai.WorkflowManagment.Modules.Request/job_scheduling_data_2_0.xsd
/Modules/Chai.WorkflowManagment.Modules.Request/packages.config
/.vs/WorkflowManagment/FileContentIndex/read.lock
/.vs/WorkflowManagment/FileContentIndex/dda05320-823b-460d-947f-7b573f9cd681.vsidx
/.vs/WorkflowManagment/FileContentIndex/583a3a73-30df-470e-bfb0-a8a76707b436.vsidx
/.vs/WorkflowManagment/FileContentIndex/2575720f-2d86-47f0-b425-9c12b3a3378c.vsidx
/.vs/WorkflowManagment/v17/fileList.bin
/.vs/WorkflowManagment/FileContentIndex/e5aba325-afd0-4080-b355-9ac71556d42a.vsidx
/.vs/WorkflowManagment/FileContentIndex/41c1fa38-1429-426d-8642-8db9b9136c1f.vsidx
/.vs/WorkflowManagment/FileContentIndex/21d3949b-d000-413e-ba06-56ceb0569581.vsidx
/.vs/WorkflowManagment/FileContentIndex/343764e0-5a70-471a-bbcb-17bc012d092c.vsidx
/.vs/WorkflowManagment/FileContentIndex
/.vs/WorkflowManagment/v17/TestStore/0
.vs/WorkflowManagment/v17/DocumentLayout.backup.json
.vs/WorkflowManagment/v17/DocumentLayout.json
